*{
    box-sizing: border-box;
}
.wrapper{
    width: 960px;
    margin: 40px auto;
    background-image: url("../images/bush.png");
}
header{
    width:100%;
    height: 100%;
    background: #ffffff;
    border-bottom:1px solid #777777;
}

/*Name Box*/
h1{
    width: 400px;
    height: 100%;
    color: white;
    background-color: #4aaaa5;
    text-align: center;
    font-family: 'Georgia', Times, Times New Roman, serif;
    padding-top:20px;

}
/*Header Font*/
#pages{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: 200;
    color: #777777;
    height: 100%;
}
/*Body box*/
#container{
    width: 75%;
    height: 50%;
    background: #ffffff;
    border:1px solid #dddddd;
    margin:110px;
}
/*Body Box Header*/ 
h2{
    border-bottom: 3px solid #dddddd;
    background-color:#ffffff;
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    padding: 20px;
    font-weight: bold;
}
#profilepic{
    float: left;
    padding: 20px;   
}
/*Body Text*/
#p1{
    padding-left:20px;
    padding-right:20px;
    font-size: 16px;
    line-height: 24px;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
footer{
    width:100%;
    height: 100%;
    background: #666666;
    border-top:3px solid #4aaaa5;
    text-align: center;
}
/*Portfolio Code*/
#pic1{
    position: relative;
    width: 100%;
    height: 200px;
    background-image: url("../images/p1.jfif");
}
#pic2{
    position: relative;
    width: 100%;
    height: 200px;
    background-image: url("../images/p2.jpg");
}
#pic3{
    position: relative;
    width: 100%;
    height: 200px;
    background-image: url("../images/p3.jfif");
}
#pic4{
    position: relative;
    width: 100%;
    height: 200px;
    background-image: url("../images/p4.jpg");
}
#pic5{
    position: relative;
    width: 100%;
    height: 200px;
    background-image: url("../images/p5.jfif");
}